*{
    padding: 0;
    margin: 0;
    max-height: 40em;
  
}
h2{
    display: inline;
    padding-right:3em;
    text-align:center;
    margin-top: 2em;
    
    
}
nav{
    grid-area: nav;
    margin-bottom: 5em;
    text-align: center;
    
}
.Column-1{
    grid-area: left;
    background-color:#FFD580;
    height: 35em;
    width: 21em;
    border: 0.0625em solid;
    padding: 0.6em;
    box-shadow: 0.3em o.6em 0.5em ;
    border: 1px solid;
    padding: 0.6em;
    box-shadow: 0.3em o.6em 0.5em ;
    color: black;
    
   

}
.Column-1 p{
    line-height: 2.3em;
    margin-top: 2em;
}

.Column-2{
    grid-area:centre;
    background-color:#FFD580;
    height: 35em;
    width: 21em;
    border: 1px solid;
    padding: 0.6em;
    box-shadow: 0.3em o.6em 0.5em ;
    color: black;

}
.Column-2 p {
    line-height: 1.7em;
    margin-top: 0.3em;
}
.Column-3{
    grid-area:right;
    background-color: #FFD580;
    height: 35em;
    width: 21em;
    border: 1px solid;
    padding: 0.6em;
    box-shadow: 0.3em o.6em 0.5em ;
    color: black;
    padding-right: 2em;

}
.Column-3 p{
    line-height: 2.3em;
    margin-top: 2em;
}
body{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: "header header header" "nav nav nav"
    "left centre right";
    column-gap: 1.5em;
    background-color:#364a61 ;
    padding-left: 2em;

  
   

}
header{
    grid-area:header;
    font-size: 2.5em;
    text-align: center;
    color: #FFD580;
    margin-top: 1em;
    margin-bottom: 1em;


}
a:visited{
    color:#FFD580;
}