*{
    margin:0;
    padding:0;

}
body{
    background-color: #364a61;
    background-position: right center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif
   

}.info{
    width:80%;
    margin: 50px auto;
    color: #FFD580;
}
.contact-form{
    background: #fff;
    display:flex;
}
.leftside{
    flex-basis: 60%;
    padding: 40px 60px;
    
}
.rightside{
    flex-basis: 40%;
    padding: 40px;
    background:#FFD580;
    color:#364a61;
}
h1{
    margin-bottom: 10px;
}    
.info p{
    margin-bottom: 40px;
}
.contactrow{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contactrow .contactgroup{
    flex-basis: 45%;
}
input{
    width:100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline:none;
    padding-bottom: 5px;
}
textarea{
    width:100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display:block;
    color:orange;
}
button{
    background:orange;
    width:100px;
    border:none;
    outline:none;
    color:#fff; 
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(181, 130, 0, 0.3);
}
.leftside h3{
    color: orange;
    font-weight: 600;
    margin-bottom: 30px;
}
.rightside h3{
    color:white;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td{
    padding-right:20px;
    padding-top:20px;
    
}


