*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
nav {
    grid-area : nav;
    margin-bottom : 5em;
    text-align : center;
    }
 header {
    grid-area : header;
    font-size : 2.5em;
    text-align : center;
    color: #FFD580;
    margin-top : 1em;
    margin-bottom : 1em;
        }

 main{
     grid-area: main;
     margin-bottom: 5em;
     text-align: center;
 }      
 footer{
     grid-area: footer;
     margin-bottom: 5em;
     text-align: center;
 } 
.menu{
    float: left;
    width: 100%;
    text-align: center;
    background-color: #364a61;
    padding: 8px;
    margin-top: 20px;
    display: block;
    color:#FFD580;
}
.summary{
    float: left;
    width: 100%;
    padding: 0 20px;
    background-color: #364a61;

}
.screenshots{
    background-color: #364a61;
    float: left;
    width:100%;
    padding:15px;
    margin-top: 7px;
    text-align: center;
}


.column{
    float: left;
    width: 100%;
    padding:100px;
}
.row:after{
        content: "";
        display: table;
        clear: both;
 }
 .image{
    width :100%;
    text-align: center;
    
    }

/*.column1 {
    grid-area : left;
    background-color : #FFD580;
    height : 30em;
    width : 20em;
    border : solid 0.0625em;
    padding : 0.6em;
    border : solid 1px;
    padding : 0.6em;
    color : white;
    
    }
.column2 {
    grid-area : center;
    background-color : #FFD580;
    height : 30em;
    width : 20em;
    border : solid 0.0625em;
    padding : 0.6em;
    border : solid 1px;
    padding : 0.6em;
    color : white;
        }
.column3 {
    grid-area : right;
    background-color : #FFD580;
    height : 35em;
    width : 21em;
    border : solid 1px;
    padding : 0.6em;
    color : white;
    padding-right : 2em;
}
*/body {
    display : grid;
    grid-template-columns : 100%;
    grid-template-areas : "header header header"
                          "nav nav nav" 
                          "main main main"
                          "footer footer footer"
                          ;
                          
    background-color : #364a61;
    padding-left : 2em;
    }
