*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
nav {
    grid-area : nav;
    margin-bottom : 5em;
    text-align : center;
    }
 header {
    grid-area : header;
    font-size : 2.5em;
    text-align: center;
    color : #FFD580;
    margin-top : 1em;
    margin-bottom : 1em;
        }
 h3{
    margin-top: 2em;
    color: white;
}
h2{
    color: white;
    font-size: 1.3em;
   
}
p{
    margin-top: 1em;
}
 main{
     grid-area: main;
     margin-bottom: 5em;
     text-align: center;
 }      
 footer{
     grid-area: footer;
     margin-bottom: 5em;
     text-align: center;
 } 
.menu{
    float: left;
    width: 100%;
    text-align: center;
    background-color: #364a61;
    padding: 0.5em;
    margin-top: 1.25em;
    display: block;
    color:#FFD580;
    font-size: 1.5em;
    line-height: 1.6em;
}
.summary{
    float: left;
    width: 100%;
    padding: 0 1.25em;
    background-color: #364a61;
    color: #FFD580;
    font-size: 1.3em;
    line-height: 1.6em;

}
.screenshots{
    background-color: #364a61;
    color: #FFD580;
    float: left;
    width:100%;
    padding:17px;
    margin-top: 7px;
    text-align: center;
    font-size: 1.3em;
}


.column{
 
    width: 33%;
    padding:100px;
    color: #FFD580;
    margin-top: 1em;
}
.row:after{
        content: "";
        display: table;
        clear: both;
}

.image{
width : 1000px;
max-height: 1000px;
text-align: center;

}
body {
    display: grid;
    grid-template-columns : auto auto auto;
    grid-template-areas : "header header header"
                          "nav nav nav" 
                          "main main main"
                          "footer footer footer";
                          
 
    background-color: #364a61;
    padding-left: 2em;
}
